Repository My-Solar-Garden/front_end_rails, pull requests merged in 2020-10, with the labels that each got.

#64 Garden Pages
  Gemfile
  Gemfile.lock
  app/assets/images/default-garden.png
  app/assets/images/edit-garden.png
  app/assets/images/trash-garden.png
  app/controllers/application_controller.rb
  app/controllers/dashboard_controller.rb
  app/controllers/gardens_controller.rb
  app/poros/garden.rb
  app/poros/user.rb
  app/views/dashboard/show.html.erb
  app/views/gardens/edit.html.erb
  app/views/gardens/new.html.erb
  app/views/gardens/show.html.erb
  config/routes.rb
  db/schema.rb
  spec/features/dashboard/show_spec.rb
  spec/features/gardens/edit_spec.rb
  spec/features/gardens/new_spec.rb
  spec/features/gardens/show_spec.rb
  spec/rails_helper.rb
Labels: front_end, mvp

#68 Navigation Bar
  Gemfile.lock
  app/assets/stylesheets/application.scss
  app/controllers/learn_more_controller.rb
  app/controllers/plants_controller.rb
  app/controllers/sensors_controller.rb
  app/controllers/sessions_controller.rb
  app/controllers/users_controller.rb
  app/controllers/welcome_controller.rb
  app/poros/plant.rb
  app/poros/sensor.rb
  app/views/layouts/application.html.erb
  app/views/learn_more/show.html.erb
  app/views/plants/edit.html.erb
  app/views/plants/new.html.erb
  app/views/plants/show.html.erb
  app/views/sensors/edit.html.erb
  app/views/sensors/new.html.erb
  app/views/sensors/show.html.erb
  app/views/users/edit.html.erb
  app/views/users/show.html.erb
  app/views/welcome/index.html.erb
  config/routes.rb
  spec/features/navbar/navbar_spec.rb
  spec/features/welcome/index_spec.rb
Labels: front_end, view

#69 Oauth fe
  .gitignore
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/sessions_controller.rb
  app/views/layouts/application.html.erb
  app/views/welcome/index.html.erb
  config/initializers/omniauth.rb
  config/routes.rb
  spec/features/home_spec.rb
  spec/features/sessions/new_spec.rb
  spec/rails_helper.rb
Labels: OAuth, front_end, mvp

#71 Welcome page
  Gemfile.lock
  app/views/welcome/index.html.erb
  spec/features/home_spec.rb
  spec/features/welcome/index_spec.rb
Labels: front_end, mvp, view

#72 Public garden show
  Gemfile
  Gemfile.lock
  app/controllers/application_controller.rb
  app/controllers/gardens_controller.rb
  app/poros/garden.rb
  app/views/gardens/show.html.erb
  spec/features/dashboard/show_spec.rb
  spec/features/gardens/edit_spec.rb
  spec/features/gardens/show_spec.rb
  spec/features/navbar/navbar_spec.rb
  spec/features/sessions/new_spec.rb
  spec/fixtures/private_garden.json
  spec/fixtures/public_garden.json
  spec/poros/garden_spec.rb
  spec/rails_helper.rb
  spec/spec_helper.rb
Labels: enhancement, front_end, view
